@page
@model SignalRChat.Pages.IndexModel

@{
    ViewData["Title"] = "Login";
}
<div class="container">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-2">Choose username</div>
            <div class="col-4"><input asp-for="AppUser.Username" type="text" id="userInput" class="form-control" /></div>
            <span asp-validation-for="AppUser.Username" class="text-danger"></span>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-1"><input type="submit" class="btn btn-primary" /></div>
        </div>
    </form>
</div>